<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="row">
  <div class="col-lg-12">
    <app-message></app-message>
  </div>
</div>
<!-- [{{product}}] -->
<div class="row">
  <div class="col-xs-4 item-photo">
    <img style="max-width:100%;" [src]="product.image" />
  </div>
  <div class="col-xs-5" style="border:0px solid gray">
    <!-- Datos del vendedor y titulo del producto -->
    <h3>{{product.title}}</h3>
    <p>
      {{product.description}}
    </p>

    <!-- Precios -->
    <h6 class="title-price">
      <small>Pice</small>
    </h6>
    <h3 style="margin-top:0px;"> Rs. {{product.price}}</h3>

    <!-- Detalles especificos del producto -->




    <!-- Botones de compra -->
    <div class="section" style="padding-bottom:20px;">
      <button (click)="addToCarti(product)" class="btn btn-success">
        <span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add To Cart </button>

    </div>
  </div>

  <div class="col-xs-9">
    <ul class="menu-items">
      <li style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 20px;">Reviews</li>
    </ul>
    <div style="width:100%;border-top:1px solid silver">
      <div style="padding:15px;">
        
<p>
  Title : <input class="form-control" [(ngModel)]="review.title">
</p>
<p>
    Description : <textarea rows="4" cols="20" class="form-control" [(ngModel)]="review.description"></textarea>
  </p>
  <p>
      <rating [(ngModel)]="review.rating"
      fullIcon="◆"
      emptyIcon="◇"></rating>
  </p>
  
<p>
  <button (click)="saveReview()" class="btn btn-primary">Post Review</button>
</p>
      
      
    </div>
  </div>
</div>
</div>