<div class="col-lg-12">
    <article class="material-card Red">
        <h2>
            <span>{{info.title}}</span>
            <strong>
                <i class="fa fa-fw fa-star"></i>
                {{info.price | currency}}
            </strong>
        </h2>
        <div class="mc-content">
            <div class="img-container">
                <img class="img-responsive" [src]="info.image">
            </div>
            <div class="mc-description">
                He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The Prophecy trilogy,
                The Dogs of War ...
            </div>
        </div>
        <a class="mc-btn-action">
            <a [routerLink]="['/home/description',info._id]">
                <i class="fa fa-plus"></i>
            </a>
        </a>
        <div class="mc-footer">
            <h4>
                Social
            </h4>
            <a class="fa fa-fw fa-facebook"></a>
            <a class="fa fa-fw fa-twitter"></a>
            <a class="fa fa-fw fa-linkedin"></a>
            <a class="fa fa-fw fa-google-plus"></a>
        </div>
    </article>
</div>